<script src="<%= htmlWebpackPlugin.files.chunks['ng.azure.files'].entry %>"></script>
<script>
    var app = angular.module('demo', ['ng.azure.files'])
        .controller('cont', function ($scope, downloadService) {
            $scope.greeting = 'Welcome!';
            $scope.progress = 0;

            $scope.mainConfig = function (event) {
                $scope.progress = parseInt(event);
            };

            $scope.nInputFile = function () {

                console.log("callback");
            }

            $scope.testDownload = function () {
                var configs = [];

                var sampleConfig = {
                    "sasUrl": "https://devkoisstorage.blob.core.windows.net/kois/patient/305a13a8-fc61-4b54-ee71-08d671f627c5/6a5871d0-5261-46d0-842b-0b53f779c180?sv=2018-03-28&sr=b&sig=fHK7GYxFSTTiyq4W5XHr%2FI7ZV7rIPir09GfJSyncizI%3D&se=2019-05-15T04%3A59%3A01Z&sp=rwdl",
                    "filename": "Tooth Chart.png"
                }

                var sampleConfig2 = {
                    "sasUrl": "https://devkoisstorage.blob.core.windows.net/kois/patient/305a13a8-fc61-4b54-ee71-08d671f627c5/6a5871d0-5261-46d0-842b-0b53f779c180?sv=2018-03-28&sr=b&sig=fHK7GYxFSTTiyq4W5XHr%2FI7ZV7rIPir09GfJSyncizI%3D&se=2019-05-15T04%3A59%3A01Z&sp=rwdl",
                    "filename": "Tooth Chart(1).png"
                }

                var sampleConfig3 = {
                    "sasUrl": "https://devkoisstorage.blob.core.windows.net/kois/patient/305a13a8-fc61-4b54-ee71-08d671f627c5/6a5871d0-5261-46d0-842b-0b53f779c180?sv=2018-03-28&sr=b&sig=fHK7GYxFSTTiyq4W5XHr%2FI7ZV7rIPir09GfJSyncizI%3D&se=2019-05-15T04%3A59%3A01Z&sp=rwdl",
                    "filename": "Tooth Chart(2).png"
                }

                configs.push(sampleConfig);
             //    configs.push(sampleConfig2);
                 //configs.push(sampleConfig3);

                downloadService.downlaodAsZip(configs, $scope.mainConfig, "TestZip");
               
            }

            $scope.testSingleDownload = function() {
                var sampleConfig = {
                    "sasUrl": "https://devkoisstorage.blob.core.windows.net/kois/patient/305a13a8-fc61-4b54-ee71-08d671f627c5/1/Kois%20Notes.txt?sv=2018-03-28&sr=b&sig=wasCEoqIaDHggAYulwESinVpyoUZOIQOwJO%2By9z6ntM%3D&se=2019-05-10T04%3A25%3A35Z&sp=rwdl",
                    "filename": "Kois Notes.txt"
                };

                downloadService.downloadAsFile(sampleConfig);
            }
        });

</script>
<div ng-app="demo">
    <div ng-controller="cont">
        <input hidden="hidden" browse-file id="file-input" type="file" file-list-callback="nInputFile(files)" />
        <label for="file-input">browse</label>
        <div drop-file file-list-callback="nInputFile(files)" style="background-color: coral; height: 250px; width: 250px;"></div>
        <button ng-click="testDownload()">Test Download Zip</button>
        <br>
        Downloading Progress... {{progress}}
        <br>
        <button ng-click="testSingleDownload()">Test Single Download</button>
    </div>
</div>